<h1>
	<%= @container.title %>
</h1>

<h2>Date:</h2>
<p>
	<%= @container.date.to_date %>
</p>

<h2>Category:</h2>
<p>
	<%= @container.category %>
</p>

<h2>Text:</h2>
<p>
<%= @container.text %>
</p>


<br/>
<%= link_to "Edit", edit_container_path() %>
<br/>
<%= link_to "Delete", container_path(), method: :delete, data: { confirm: "Are you sure?" } %>
<br/>
<%= link_to "Back to Index", containers_path() %>

